.root {
  border: 5px solid black;
}

@keyframes progressbar-countdown {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.progressbar .inner {
  height: 3px;
  animation: progressbar-countdown;
  /* Placeholder, this will be updated using javascript */
  animation-duration: 3s;
  /* We stop in the end */
  animation-iteration-count: 1;
  /* Stay on pause when the animation is finished finished */
  animation-fill-mode: forwards;
  /* We start paused, we start the animation using javascript */
  animation-play-state: running;
  /* We want a linear animation, ease-out is standard */
  animation-timing-function: linear;
}

.red {
  background-color: #fe0001;
}
.orange {
  background-color: #fd9a00;
}
.yellow {
  background-color: #ffff01;
}
.green {
  background-color: #33ff00;
}
.blue {
  background-color: #0098fd;
}
.purple {
  background-color: #6734ff;
}
