.root {
  padding: 12px 24px;
  border: 10px solid black;
  border-radius: 8px;
  width: 100%;

  font-weight: 800;
  background-color: var(--cat-green);
  transition: background-color 500ms;
}

.root:hover {
  filter: brightness(0.85);
}

.root:active {
  transition-duration: 100ms;
  filter: brightness(0.75) !important;
}

.Button-danger {
  background-color: var(--cat-red);
}
.Button-danger:hover {
  background-color: var(--cat-red);
  filter: brightness(0.85);
}
