.root {
  padding: 12px 24px;
  border: 10px solid black;
  border-radius: 8px;
  width: 100%;

  font-weight: 800;
  background-color: var(--green);
  transition: background-color 500ms;
}

.root:hover {
  background-color: var(--red);
}

.root:active {
  transition-duration: 100ms;
  background-color: #ca2c2c;
}
