/* @font-face {
  font-family: SpeedRush;
  src: url("../public/assets/fonts/Play Pretend.otf") format("opentype");
} */
@font-face {
  font-family: StarCruiser;
  src: url("../public/assets/fonts/starcruiser.ttf") format("truetype");
}

:root {
  --red: #fe0000;
  --green: #34fe02;

  --cat-red: #fe0001;
  --cat-orange: #fd9a00;
  --cat-yellow: #ffff01;
  --cat-green: #33ff00;
  --cat-blue: #0098fd;
  --cat-purple: #6734ff;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "StarCruiser", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;

  font-size: 20px;
  line-height: 1.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input {
  font-family: inherit;
  font-size: inherit;
}

p {
  margin-top: 0px;
  margin-bottom: 8px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* * {
  box-sizing: border-box;
  letter-spacing: 0.075em;
  font-size: 20px;
  font-family: "SpeedRush", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
} */

#__next {
  height: 100%;
}

button {
  cursor: pointer;
}

*:focus {
  outline: 5px solid white;
}
