.container {
  padding: 0 2rem;
}

.main {
  padding: 2rem 0 1rem;
  flex: 1;
  gap: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instructions {
  padding: 2rem 0 1rem;
  max-width: 600px;
}
.instructions li {
  margin-bottom: 8px;
}

.main button {
  font-size: 32px;
}

.input {
  width: 100%;
  margin-top: 24px;
}

.inputInput {
  height: 75px;
}

.pageLayoutContent {
  position: relative;
}

.sideButtons {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.sideButtons button  {
  width: auto;
}