.container {
  padding: 0 2rem;
}

.main {
  /* min-height: 100vh; */
  padding: 4rem 0;
  flex: 1;
  gap: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main button {
  font-size: 32px;
}

.input {
  width: 100%;
  margin-top: 24px;
}

.inputInput {
  height: 28px;
}
