.container {
  padding: 24px;
}

.gameArea {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.question {
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.imgContainer {
  margin-top: 80px;
  min-width: 300px;
  min-height: 300px;
  display: grid;
  place-items: center;
  border: 10px solid black;
}

.options {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.options button {
  border: 5px solid black;
  padding: 8px 16px;
}

.options button:hover {
  cursor: pointer;
}

.timer {
  font-size: 64px;
  color: var(--cat-red);
}

.pageLayoutContent {
  min-width: 500px;
  width: auto;
}

@media (max-width: 500px) {
  .hideOnMobile {
    display: none;
  }
  .pageLayoutContent {
    margin-top: 100px;
    min-width: auto;
    width: 100%;
  }

  .imgContainer {
    min-width: 100%;
  }

  .gameArea {
    grid-template-columns: 1fr;
  }
}
