.container {
  padding: 24px;
}

.gameArea {
  display: flex;
  justify-content: space-evenly;
}
.gameArea div {
  min-width: 400px;
}

.question {
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.imgContainer {
  margin-top: 80px;
  min-width: 300px;
  min-height: 300px;
  display: grid;
  place-items: center;
  border: 10px solid black;
}

.options {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.options button {
  border: 5px solid black;
  padding: 8px 16px;
}

.options button:hover {
  cursor: pointer;
}

.timer {
  font-size: 64px;
  color: var(--green);
}
