.container {
  /* padding: 24px; */
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 500px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 24px 32px;
  border: 10px solid black;
  border-radius: 8px;
}

@media(max-width: 500px) {
  .content {
    width: 100%;
    padding: 16px;
  }
}

.logoPosition {
  position: absolute;
  top: 20px;
  left: calc(50% - 120px);
}
